body {
  margin: 0;
  background-color: #000;
}

.block {
  padding: 10px;
  border: 1px solid red;
}

.block_blue {
  margin: 20px 20px 40px;
  width: 350px;
  background-color: #0c87c0;
  box-sizing: border-box;
}

.block_yellow {
  background-color: #ffa400;
}

.block_grey {
  background-color: #dcdcdc;
}
